<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
           display: grid;
           grid-template-columns: 1fr 3fr; 
           height: 100vh;
        }
        header {
            border: 1px solid black;
            grid-column: 1 / span 2;
            padding: 10px;
            background: rgb(24, 97, 24);
            color: white;
        }
        nav {
            border: 1px solid black;
            background: rgb(134, 132, 132);
            padding: 20px;
            color: white;
        }
        main {
            border: 1px solid black;
            padding: 20px;
        }
        footer {
            border: 1px solid black;
            grid-column: 1 / span 2;
            padding: 20px;
            background: rgb(22, 110, 22);
            color: white;
        }
    </style>    
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    
    <nav>
        <p>Home</p>
        <p>Users</p>
        <p>Settings</p>
    </nav>

    <main>
        <b>Welcome, Admin!</b>
        <p>This is the main content area. Add charts, tables, or reports here.</p>
    </main>

    <footer>
        <h5>©️ 2025 Admin Panel</h5>
    </footer>
</body>
</html>
